/* slides 4: group match team standins*/
#slide_standings{
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1.4rem;
   font-weight: 600;
   line-height: 1.5rem;
   color: #212529;
   text-align: left;         
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;           
  }
.groups,
.knockouts{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}
.groups,
.groups .card--group,
.knockouts .card
{
  margin-bottom: 1.5rem;
}
.knockouts .card {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 1rem;
  }
.groups > .col{
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.mb-3{
  margin-bottom: 1rem;
}
.col {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card--knockouts{
    height: fit-content;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
.card > table {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    line-height: 1.5rem;
    border-collapse:collapse;
}
.table-bordered,
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;          
}

.card > table th,
.card > table td{
  padding: 0.75rem;
  vertical-align: top;
}
.table-knockouts td{
  border-style: solid none none none;
  border-top: 1px solid #dee2e6;  
}
/* no strips for the table */
.card > table tr:nth-child(even) > td {
    background: rgba(0, 0, 0, 0);
}

.card > table thead {
  background-color: rgba(0, 0, 0, 0); 
}
.groups .card--group{
  margin-bottom: 1.5rem !important;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb;
}        
.groups .card--group table td,
.groups .card--group table th{
  padding: 0.6rem;
  font-size: 1.4rem;
}

.table-groups--result,
.table-knockouts--result {
  margin: 5px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid #ced4da;
}

.card--round_2_loser,
.card--round_2_loser > .card-header {
  background-color: #ffc107 !important;
}
.bronze {
  color: #cd7f32;
}
.fa-2x {
  font-size: 2em;
}

.card--round_2,
.card--round_2 > .card-header {
  background-color: #28a745 !important;
}